.page {
    margin: 10px;
}

.title {
    padding: 8px;
}

.description-container {
    display: flex;
}

.description {
    margin: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
}

.trailer-container {
    display: flex;
    height: 8vh;
    padding: 5px;
    margin-bottom: 8px;
    align-items: center;
    background: #e5d8d8;
}

.icon {
    margin: 10px;
}

.date {
    font-weight: bolder;
    font-size: x-large;
}

.rating {
    margin-top: auto;
}

#btn {
    padding: 20px;
    margin: 4px;
    margin-top: auto;
}
